<div class="min-h-screen bg-slate-100 flex">


    <!-- Main Content -->
    <main class="flex-1">


        <div class="p-8">
            <!-- Filters -->

            <div class="flex flex-col md:flex-row justify-between items-center gap-4 mb-8">

                <div>

                    <h1 class="text-4xl font-bold text-gray-800">
                        My Notes
                    </h1>

                    <p class="text-gray-500 mt-2">
                        Organize your thoughts and tasks.
                    </p>

                </div>

                <div>



                    <button (click)="noteAdd()"
                        class="px-6 py-3 bg-blue-600 text-white rounded-xl shadow-lg hover:bg-blue-700 transition">

                        + Add Note

                    </button>
                </div>
            </div>


            <!-- Tabs -->
            <div class="flex gap-4 mb-8 overflow-x-auto">



                <button (click)="loadAllNotes()" [ngClass]="{
            'bg-indigo-600 text-white': selectedTab() === 'all',
            'bg-white shadow text-gray-700': selectedTab() !== 'all'
        }" class="px-5 py-2 rounded-full transition-all duration-300">

                    All

                </button>

                <button (click)="loadFavorite()" [ngClass]="{
            'bg-yellow-500 text-white': selectedTab() === 'favorite',
            'bg-white shadow text-gray-700': selectedTab() !== 'favorite'
        }" class="px-5 py-2 rounded-full transition-all duration-300">

                    Favorites

                </button>

                <button (click)="loadPinned()" [ngClass]="{
            'bg-green-500 text-white': selectedTab() === 'pinned',
            'bg-white shadow text-gray-700': selectedTab() !== 'pinned'
        }" class="px-5 py-2 rounded-full transition-all duration-300">

                    Pinned

                </button>

                <button (click)="loadReminded()" [ngClass]="{
            'bg-red-500 text-white': selectedTab() === 'reminded',
            'bg-white shadow text-gray-700': selectedTab() !== 'reminded'
        }" class="px-5 py-2 rounded-full transition-all duration-300">

                    Reminded

                </button>
            </div>



            <!-- Notes Grid -->

            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">

                @for (note of displayedNotes; track note._id) {
                <div
                    class="group rounded-2xl border border-gray-200 bg-white p-5 shadow-sm transition-all duration-300 hover:-translate-y-1 hover:shadow-xl">

                    <!-- Header -->
                    <div class="flex items-start justify-between">

                        <!-- Pin & Favorite -->
                        <div class="flex items-center gap-3">

                            <!-- Pin -->
                            <button
                                class="flex h-9 w-9 items-center justify-center rounded-full bg-blue-100 text-blue-600 transition hover:bg-blue-200">

                                <i class="fa-solid fa-thumbtack" [class.rotate-45]="note.isPined"></i>

                            </button>

                            <!-- Favorite -->
                            <button
                                class="flex h-9 w-9 items-center justify-center rounded-full bg-yellow-100 text-yellow-500 transition hover:bg-yellow-200">

                                <i class="fa-solid fa-star" [class.text-yellow-500]="note.isFavorite"
                                    [class.text-gray-400]="!note.isFavorite"></i>

                            </button>

                        </div>

                        <!-- Priority Badge -->
                        <span class="rounded-full px-3 py-1 text-xs font-semibold" [ngClass]="{
                'bg-red-100 text-red-600': note.priority === 'High',
                'bg-yellow-100 text-yellow-600': note.priority === 'Medium',
                'bg-green-100 text-green-600': note.priority === 'Low'
            }">

                            {{ note.priority }}

                        </span>

                    </div>

                    <!-- Title -->
                    <h2 class="mt-5 truncate text-lg font-bold text-gray-800">

                        {{ note.title }}

                    </h2>

                    <!-- Description -->
                    <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-600">

                        {{ note.details }}

                    </p>
                    @if (note.tag) {

                    <div class="flex gap-2 flex-wrap mt-5">
                        <p>Tags</p>
                        @for (tag of note.tag.split(','); track tag; let i = $index) {

                        <span class="px-3 py-1 rounded-full text-sm" [class]="getTagColor(i)">

                            #{{ tag.trim() }}

                        </span>

                        }

                    </div>

                    }
                    <!-- Category & Pin Status -->
                    <div class="mt-5 flex items-center justify-between">

                        <span class="rounded-lg px-3 py-1 text-xs font-medium"
                            [class]="getCategoryConfig(note.category).class">

                            {{ getCategoryConfig(note.category).icon }}
                            category : {{ note.category }}

                        </span>
                        <span [ngClass]="{
                    'bg-red-100 text-red-700': isToday(note.reminderDate),
                    'bg-green-100 text-green-700': !isToday(note.reminderDate)
                        }">
                            <i class="fa-solid fa-bell"></i>
                            Due Date : {{ note.reminderDate | date : 'dd MMM' }}
                        </span>

                        @if (note.isPined) {

                        <span class="rounded-lg bg-indigo-100 px-3 py-1 text-xs font-medium text-indigo-700">

                            📌 Pinned

                        </span>

                        }

                    </div>

                    <!-- Status -->
                    <div class="mt-4">

                        <span class="rounded-lg px-3 py-1 text-xs font-medium" [ngClass]="{
                'bg-green-100 text-green-700': note.status === 'Active',
                'bg-gray-100 text-gray-700': note.status === 'Draft',
                'bg-purple-100 text-purple-700': note.status === 'Archived',
                'bg-red-100 text-red-700': note.status === 'Completed'
            }">

                            Status : {{ note.status }}

                        </span>

                    </div>

                    <!-- Date -->
                    <div class="mt-5 flex items-center gap-2 text-xs text-gray-500">

                        <i class="fa-regular fa-clock"></i>

                        <span>

                            {{ note.date | date : 'dd MMM yyyy' }}

                        </span>

                    </div>

                    <!-- Footer -->
                    <div class="mt-5 flex items-center justify-between border-t border-gray-100 pt-4">
                        @if(note.updatedAt){
                        <span class="text-xs font-medium text-gray-400">
                            Last Updated : {{note.updatedAt | date : 'dd MMM yyyy' }}

                        </span>

                        }
                        @else {
                        Last Updated : {{note.createdAt | date : 'dd MMM yyyy' }}
                        }
                        <!-- Actions -->
                        <div class="flex items-center gap-2">

                            <!-- View -->
                            <button
                                class="flex h-9 w-9 items-center justify-center rounded-full text-gray-500 transition hover:bg-blue-100 hover:text-blue-600">

                                <i class="fa-solid fa-eye"></i>

                            </button>

                            <!-- Edit -->
                            <button
                                class="flex h-9 w-9 items-center justify-center rounded-full text-gray-500 transition hover:bg-green-100 hover:text-green-600">

                                <i class="fa-solid fa-pen"></i>

                            </button>

                            <!-- Delete -->
                            <button
                                class="flex h-9 w-9 items-center justify-center rounded-full text-gray-500 transition hover:bg-red-100 hover:text-red-600">

                                <i class="fa-solid fa-trash"></i>

                            </button>

                        </div>

                    </div>

                </div>

                }

            </div>

        </div>
        <div class="flex justify-center items-center gap-4 mt-8">

  <button
    (click)="previousPage()"
    [disabled]="currentPage === 1 "
    class="px-4 py-2 disabled:bg-gray-200 disabled:text-black enabled:text-white enabled:bg-blue-500 rounded-lg disabled:opacity-50 disabled:hover:cursor-not-allowed enabled:hover:cursor-pointer enabled:hover:font-bold">

    Previous

  </button>

  <span>

    Page {{ currentPage }}
    of
    {{ totalPages }}

  </span>

  <button
    (click)="nextPage()"
    [disabled]="currentPage === totalPages"
    class="px-4 py-2 bg-blue-500 disabled:text-black enabled:text-white rounded-lg disabled:opacity-50 disabled:hover:cursor-not-allowed enabled:hover:cursor-pointer enabled:hover:font-bold">

    Next

  </button>

</div>
        <br>
    </main>

</div>

<br>