<div class="max-w-7xl mx-auto p-6 min-h-screen bg-gradient-to-r from-sky-50 via-white to-cyan-50 p-8">

    <!-- Header -->

    <div class="mb-8">

        <h1 class="text-3xl font-bold text-gray-800 underline text-center">
            📝 Create New Note
        </h1>

        <p class="text-gray-500 mt-2 text-center">
            Organize your ideas, reminders and tasks.
        </p>
        <div class="w-full justify-end text-end">
            <a routerLink="/home/notes" class="text-blue-400 hover:cursor-pointer hover:underline hover:font-bold">Back
                to Dashboard</a>
        </div>
    </div>

    <form [formGroup]="noteForm" (ngSubmit)="saveNote()" >

        <div class=" p-8 space-y-8 border">

            <!-- Basic Information -->

            <div class="border rounded-3xl p-5">

                <h1 class="text-4xl font-extrabold text-center mb-5 underline">
                    Basic Information
                </h1>

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

                    <!-- Title -->

                    <div class="lg:col-span-3">

                        <label class="block mb-2 font-medium">
                            Title
                        </label>

                        <input type="text" formControlName="title" placeholder="Enter note title" #noteTitle
                            class="w-full border rounded-xl px-4 py-3">
                        @if (title?.invalid && title?.touched) {

                        <div class="mt-1 text-red-500 text-sm">

                            @if (title?.errors?.['required']) {
                            <p>Title is required.</p>
                            }

                            @if (title?.errors?.['minlength']) {
                            <p>Minimum 5 characters required.</p>
                            }

                            @if (title?.errors?.['maxlength']) {
                            <p>Maximum 100 characters allowed.</p>
                            }

                        </div>
                        }
                    </div>

                    <!-- Category -->

                    <div class="border p-5">

                        <label class="block mb-2 font-medium">
                            Category
                        </label>

                        <!-- <select formControlName="category" class="w-full border rounded-xl px-4 py-3">
                            <option value="">Select One</option>
                            @for (category of categories; track category) {

                            <option [value]="category">
                                {{ category }}
                            </option>

                            }

                        </select> -->

                        <div class="grid grid-cols-2 gap-4">

                            @for (category of categories; track category) {

                            <button type="button" (click)="noteForm.patchValue({ category: category })"
                                class="relative p-4 border rounded-xl flex items-center gap-3" [ngClass]="{
              'bg-indigo-600 text-white':
                  noteForm.get('category')?.value === category
            }">

                                <i [class]="categoryIcons[category]"></i>

                                <span>{{ category }}</span>

                                @if (noteForm.get('category')?.value === category) {

                                <i class="fa-solid fa-circle-check absolute top-5 right-2 text-green-500">
                                </i>

                                }

                            </button>

                            }

                        </div>

                        @if (category?.invalid && category?.touched) {
                        <p class="text-red-500 text-sm mt-1">
                            Please select a category.
                        </p>
                        }
                    </div>

                    <!-- Priority -->

                    <div class="border p-5">

                        <label class="block mb-2 font-medium">
                            Priority
                        </label>

                        <!-- <select formControlName="priority" class="w-full border rounded-xl px-4 py-3">
                            <option value="">Select One</option>
                            @for (priority of priorities; track priority) {

                            <option [value]="priority">
                                {{ priority }}
                            </option>

                            }


                        </select> -->
                        <div class="grid grid-cols-2 gap-4">

                            @for (priority of priorities; track priority) {

                            <button type="button" (click)="noteForm.patchValue({ priority: priority })"
                                class="relative p-4 border rounded-xl flex items-center gap-3" [ngClass]="{
              'bg-indigo-600 text-white':
                  noteForm.get('priority')?.value === priority
            }">

                                <i [class]="priorityIcons[priority]"></i>

                                <span>{{ priority }}</span>

                                @if (noteForm.get('priority')?.value === priority) {

                                <i class="fa-solid fa-circle-check absolute top-5 right-2 text-green-500">
                                </i>

                                }

                            </button>

                            }

                        </div>


                        @if (priority?.invalid && priority?.touched) {
                        <p class="text-red-500 text-sm mt-1">
                            Please select a priority.
                        </p>
                        }
                    </div>

                    <!-- Status -->

                    <div class="border p-5">

                        <label class="block mb-2 font-medium">
                            Status
                        </label>

                        <!-- <select formControlName="status" class="w-full border rounded-xl px-4 py-3">

                            <option value="">Select One</option>
                            @for (status of statuses; track status) {

                            <option [value]="status">
                                {{ status }}
                            </option>
                            }

                        </select> -->

                        <div class="grid grid-cols-2 gap-4">

                            @for (status of statuses; track status) {

                            <button type="button" (click)="noteForm.patchValue({ status: status })"
                                class="relative p-4 border rounded-xl flex items-center gap-3" [ngClass]="{
              'bg-indigo-600 text-white':
                  noteForm.get('status')?.value === status
            }">

                                <i [class]="statusIcons[status]"></i>

                                <span>{{ status }}</span>

                                @if (noteForm.get('status')?.value === status) {

                                <i class="fa-solid fa-circle-check absolute top-5 right-2 text-green-500">
                                </i>

                                }

                            </button>

                            }

                        </div>
                        @if (status?.invalid && status?.touched) {
                        <p class="text-red-500 text-sm mt-1">
                            Please select a status.
                        </p>
                        }
                    </div>

                </div>

            </div>

            <!-- Details -->

            <div>

                <h2 class="text-xl font-extrabold text-center mb-5 underline">
                    Details
                </h2>

                <textarea rows="8" formControlName="details" placeholder="Write your note..."
                    class="w-full border rounded-xl px-4 py-3 resize-none">
                </textarea>
                @if (details?.invalid && details?.touched) {

                <div class="mt-1 text-red-500 text-sm">

                    @if (details?.errors?.['required']) {
                    <p>Details are required.</p>
                    }

                    @if (details?.errors?.['minlength']) {
                    <p>Minimum 10 characters required.</p>
                    }

                </div>
                }
            </div>

            <!-- Tags & Visibility -->

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 rounded-3xl border p-3">

                <div>

                    <label class="block mb-2 font-medium">
                        Tags
                    </label>

                    <input type="text" formControlName="Tag" placeholder="Angular, TypeScript"
                        class="w-full border rounded-xl px-4 py-3">
                    @if (tag?.invalid && tag?.touched) {

                    <div class="mt-1 text-red-500 text-sm">

                        @if (tag?.errors?.['required']) {
                        <p>Tag is required.</p>
                        }

                        @if (tag?.errors?.['minlength']) {
                        <p>Enter at least 2 characters.</p>
                        }

                    </div>
                    }
                </div>

                <div class="border p-3">

                    <label class="block mb-2 font-medium">
                        Visibility
                    </label>

                    <!-- <select formControlName="visibility" class="w-full border rounded-xl px-4 py-3">
                        <option value="">Select One</option>
                        @for (visibility of visibilities; track visibility) {

                        <option [value]="visibility">
                            {{ visibility }}
                        </option>

                        }

                    </select> -->
                    <div class="grid grid-cols-2 gap-4">

                        @for (visibility of visibilities; track visibility) {

                        <button type="button" (click)="noteForm.patchValue({ visibility: visibility })"
                            class="relative p-4 border rounded-xl flex items-center gap-3" [ngClass]="{
              'bg-indigo-600 text-white':
                  noteForm.get('visibility')?.value === visibility
            }">

                            <i [class]="visibilityIcons[visibility]"></i>

                            <span>{{ visibility }}</span>

                            @if (noteForm.get('visibility')?.value === visibility) {

                            <i class="fa-solid fa-circle-check absolute top-5 right-2 text-green-500">
                            </i>

                            }

                        </button>

                        }

                    </div>


                    @if (visibility?.invalid && visibility?.touched) {

                    <p class="text-red-500 text-sm mt-1">
                        Please select visibility.
                    </p>

                    }
                </div>

            </div>

            <!-- Dates -->

            <div class=" rounded-3xl border p-5">

                <h2 class="text-xl font-extrabold text-center mb-5 underline">
                    Schedule
                </h2>

                <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

                    <!-- <div>

                        <label class="block mb-2 font-medium">
                            Created Date
                        </label>

                        <input type="date" formControlName="date" class="w-full border rounded-xl px-4 py-3">

                    </div> -->

                    <div>

                        <label class="block mb-2 font-medium">
                            Due Date
                        </label>

                        <input type="date" formControlName="dueDate" class="w-full border rounded-xl px-4 py-3">
                        @if (dueDate?.invalid && dueDate?.touched) {

                        <p class="text-red-500 text-sm mt-1">
                            Due date is required.
                        </p>
                        }
                    </div>

                    <div>

                        <label class="block mb-2 font-medium">
                            Reminder Date
                        </label>

                        <input type="date" formControlName="reminderDate" class="w-full border rounded-xl px-4 py-3">

                    </div>

                </div>

            </div>

            <!-- Attachment -->

            <div>

                <label class="block mb-2 font-medium">
                    Attachment
                </label>

                <input type="file" (change)="onFileSelected($event)" multiple
                    class="w-full border rounded-xl px-4 py-3">
                @if (attachments?.invalid && attachments?.touched) {

                <p class="text-red-500 text-sm mt-1">
                    Please upload a file.
                </p>
                }
                <div class="mt-4 space-y-2">

                    @for (file of selectedFiles; track $index) {

                    <div class="flex justify-between items-center border rounded-lg p-2">

                        <span>{{ file.name }}</span>

                        <button type="button" class="text-red-500" (click)="removeFile($index)">

                            ❌

                        </button>

                    </div>

                    }

                </div>
            </div>

            <!-- Options -->

            <div class="rounded-3xl border p-5">

                <h2 class="text-xl font-extrabold text-center mb-5 underline">
                    Options
                </h2>

                <div class="grid grid-cols-2 md:grid-cols-4 gap-4">

                    <label class="flex items-center gap-2">

                        <input type="checkbox" formControlName="isFavorite">

                        ⭐ Favorite

                    </label>

                    <label class="flex items-center gap-2">

                        <input type="checkbox" formControlName="isPined">

                        📌 Pinned

                    </label>

                    <label class="flex items-center gap-2">

                        <input type="checkbox" formControlName="isReminded">

                        🔔 Reminder

                    </label>

                    <label class="flex items-center gap-2">

                        <input type="checkbox" formControlName="isActive">

                        ✅ Active

                    </label>

                </div>

            </div>

            <!-- Buttons -->

            <div class="flex justify-center gap-4 pt-6">

                <button (click)="reset()" type="button"
                    class="px-8 py-3 text-sk bg-blue-600 text-white rounded-xl hover:bg-blue-700 disabled:bg-gray-400 enabled:cursor-pointer enabled:hover:font-bold disabled:cursor-not-allowed">

                    Cancel

                </button>

                <!-- <button type="submit" class="px-8 py-3 bg-blue-600 text-white rounded-xl hover:bg-blue-700">

                    💾 Save Note

                </button> -->
                <!--  -->
                <button type="submit" [disabled]="noteForm.invalid"
                    class="px-8 py-3 bg-blue-600 text-white rounded-xl hover:bg-blue-700 disabled:bg-gray-400 enabled:cursor-pointer enabled:hover:font-bold disabled:cursor-not-allowed">

                    💾 Save Note

                </button>

            </div>

        </div>

    </form>

</div>